<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ludai_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,40}}</string>
                <key>sourceSize</key>
                <string>{190,40}</string>
            </dict>
            <key>panlun_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,26},{188,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,40}}</string>
                <key>sourceSize</key>
                <string>{188,40}</string>
            </dict>
            <key>panzauo_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{139,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,115}}</string>
                <key>sourceSize</key>
                <string>{139,115}</string>
            </dict>
            <key>paotai_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{155,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,70}}</string>
                <key>sourceSize</key>
                <string>{155,70}</string>
            </dict>
            <key>zidan_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{60,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,22}}</string>
                <key>sourceSize</key>
                <string>{60,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tanke.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28f67bb150fcfc3a09b3580d1d916cb8:1/1$</string>
            <key>textureFileName</key>
            <string>tanke.png</string>
        </dict>
    </dict>
</plist>
